# Ignore cached Twemoji assets
assets/

# Ignore user save files and configuration state
saves/
config.json

# Python environment & cache
__pycache__/
*.pyc
.venv/

# PyInstaller build output
build/
dist/
*.spec
